.navbar {
  min-height: 10vh;
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
  align-items: center;
  .library-button {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      background-color: transparent;
      cursor: pointer;
      div {
        display: flex;
        align-items: center;
        span {
          padding-left: 0.5rem;
          font-size: 1rem;
        }
      }
      &:hover {
        background-color: cornflowerblue;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .library-button {
    z-index: 10;
  }
  h1 {
    font-size: 1.5rem;
  }
}
